body{
    margin: 0em 10em;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
#offersTable{
    background-color: rgb(64, 183, 238);
    border: 1.5px solid black;
    width: 100%;
    
}